In [1]:
import pandas as pd

In [3]:
meu_dicionario = {
    "nome" : ["joao"],
    "idade" : [30],
    "cidade" : ["São Paulo"],
    "profissão" : ["Engenheiro"]
}

####  Estruturas

- lista
- tuplas
- dicionários
- dataframes
- arrays (matriz)


Dataframes são muito mais pesados pois é possível interagir com eles de diversas formas, e isso faz com que pese mais na memória

Por outro lado, ao utilizar os arrays do numpy, é possível processar as informações do grafo de forma mais eficiente.

In [6]:
import numpy as np

x = np.array([[1,2,3],[1,2,3]])

In [7]:
x

array([[1, 2, 3],
       [1, 2, 3]])

In [8]:
#importando o grafo

grafo_simples = {
    'a': {'b': 4, 'c': 3},
    'b': {'a': 4, 'c': 5, 'd': 2},
    'c': {'a': 3, 'b': 5, 'd': 1, 'e': 3},
    'd': {'b': 2, 'c': 1, 'e': 4},
    'e': {'c': 3, 'd': 4}
    }

In [10]:
# Transformando os dados para um dataframe


df = pd.DataFrame(grafo_simples)
df

     a    b    c    d    e
b  4.0  NaN  5.0  2.0  NaN
c  3.0  5.0  NaN  1.0  3.0
a  NaN  4.0  3.0  NaN  NaN
d  NaN  2.0  1.0  NaN  4.0
e  NaN  NaN  3.0  4.0  NaN

In [12]:
# Para resolver o problema dos números faltantes, e possível utlizar uma função
# Preencha sempre com valores nulos ou muito altos

df = pd.DataFrame(grafo_simples).fillna(0)
df

     a    b    c    d    e
b  4.0  0.0  5.0  2.0  0.0
c  3.0  5.0  0.0  1.0  3.0
a  0.0  4.0  3.0  0.0  0.0
d  0.0  2.0  1.0  0.0  4.0
e  0.0  0.0  3.0  4.0  0.0

In [13]:
df.T.fillna(0)

     b    c    a    d    e
a  4.0  3.0  0.0  0.0  0.0
b  0.0  5.0  4.0  2.0  0.0
c  5.0  0.0  3.0  1.0  3.0
d  2.0  1.0  0.0  0.0  4.0
e  0.0  3.0  0.0  4.0  0.0

In [25]:
dados = pd.DataFrame({
    "a" : [1,2,3],
    "b" : [4,5,6]
})

dados["soma"] = dados.apply(lambda row: row ["a"] + row ["b"], axis = 1)
dados.to_csv("df_completo.csv")

In [19]:
grafo_convertido = df.apply(lambda row: row[row != 0].to_dict(), axis=1)

In [20]:
grafo_convertido

b              {'a': 4.0, 'c': 5.0, 'd': 2.0}
c    {'a': 3.0, 'b': 5.0, 'd': 1.0, 'e': 3.0}
a                        {'b': 4.0, 'c': 3.0}
d              {'b': 2.0, 'c': 1.0, 'e': 4.0}
e                        {'c': 3.0, 'd': 4.0}
dtype: object

In [31]:
grafo_convertido = df.apply(lambda row: row[row !=0].to_dict(),axis=1).to_dict()

In [32]:
grafo_convertido

{'b': {'a': 4.0, 'c': 5.0, 'd': 2.0},
 'c': {'a': 3.0, 'b': 5.0, 'd': 1.0, 'e': 3.0},
 'a': {'b': 4.0, 'c': 3.0},
 'd': {'b': 2.0, 'c': 1.0, 'e': 4.0},
 'e': {'c': 3.0, 'd': 4.0}}

### Exercicio

Crie um grafo para o problema abaixo. Em seguida, transforme este grafo em 
uma matriz usando o pandas. Veja como vai ficar a matriz. Após isso, retorne 
os dados que estão em um dataframe para um dicionário.
Nós: A, B, C, D, E, F.

A - B = 10 km
A - C = 15 km
B - D = 12 km
C - D = 10 km
D - E = 5 km
C - E = 8 km
D - F = 7 km
E - F = 9 km

In [ ]:
df = {
    "a": 
}

In [33]:
# Transformando os dados para uma matriz numpy

df_matriz = df.to_numpy()
df_matriz

array([[4., 0., 5., 2., 0.],
       [3., 5., 0., 1., 3.],
       [0., 4., 3., 0., 0.],
       [0., 2., 1., 0., 4.],
       [0., 0., 3., 4., 0.]])