In [14]:
import pandas as pd

In [8]:
base1 = pd.read_csv("dados1.csv")
base2 = pd.read_csv("dados2.csv")

In [9]:
base1

       Unnamed: 0   ano     bloco      ndvi   area cdambiente
0               0  2021  604P0311  0.185666  20.63          A
1               1  2021  111P1186  0.338386   8.40          B
2               2  2021  116P1611  0.112711   7.94          B
3               3  2021  116P1626  0.215624  21.62          D
4               4  2021  134P1520  0.222302  24.94          C
...           ...   ...       ...       ...    ...        ...
20015       20015  2022  605P0301  0.156169  24.30          D
20016       20016  2022  220P2046  0.136303  30.73          D
20017       20017  2022  226P2678  0.114775  14.20          C
20018       20018  2022  225P2864  0.136284  38.42          D
20019       20019  2022  225P2564  0.091362   9.99          C

[20020 rows x 6 columns]

In [10]:
base_concat = pd.concat([base1,base2],axis=1) #concatenando os dois datasets de forma que eles sejam unidos pelas colunas

In [11]:
base_concat

,Unnamed: 0,ano,bloco,ndvi,area,cdambiente,Unnamed: 0,ano,bloco,talhao,corte,tch_bloco
0,0,2021,604P0311,0.185666,20.63,A,0,2021,604P0311,5,4,70.75
1,1,2021,111P1186,0.338386,8.40,B,1,2021,111P1186,10,5,26.47
2,2,2021,116P1611,0.112711,7.94,B,2,2021,116P1611,6,18,95.64
3,3,2021,116P1626,0.215624,21.62,D,3,2021,116P1626,2,18,110.97
4,4,2021,134P1520,0.222302,24.94,C,4,2021,134P1520,2,3,59.20
...,...,...,...,...,...,...,...,...,...,...,...,...
20015,20015,2022,605P0301,0.156169,24.30,D,20015,2022,605P0301,10,5,56.29
20016,20016,2022,220P2046,0.136303,30.73,D,20016,2022,220P2046,1,4,63.26
20017,20017,2022,226P2678,0.114775,14.20,C,20017,2022,226P2678,1,5,38.27
20018,20018,2022,225P2864,0.136284,38.42,D,20018,2022,225P2864,1,3,48.27
20019,20019,2022,225P2564,0.091362,9.99,C,20019,2022,225P2564,10,6,24.59

In [26]:
base_concat = base_concat.loc[:,~base_concat.columns.duplicated()]

In [27]:
base_concat.columns

Index(['Unnamed: 0', 'ano', 'bloco', 'ndvi', 'area', 'cdambiente', 'talhao',
       'corte', 'tch_bloco'],
      dtype='object')

In [29]:
media_nvdi_por_bloco = base_concat.groupby("bloco")["ndvi"].mean()

In [30]:
media_nvdi_por_bloco

bloco
110F0001    0.119488
110F0002    0.155229
110F0003    0.111034
110F0004    0.293385
110F0005    0.289937
              ...
606P0322    0.167307
606P0329    0.083745
606P0330    0.112159
606P0332    0.194214
606P0335    0.224450
Name: ndvi, Length: 3184, dtype: float64

In [37]:
result = base_concat.groupby(['ano', 'cdambiente'])['ndvi'].mean()
result

ano   cdambiente
2021  A             0.180934
      B             0.182262
      C             0.175516
      D             0.173381
      E             0.186770
2022  A             0.133972
      B             0.137259
      C             0.133319
      D             0.127514
      E             0.128100
Name: ndvi, dtype: float64

In [38]:
result_2021 = result.loc[2021]
result_2021

cdambiente
A    0.180934
B    0.182262
C    0.175516
D    0.173381
E    0.186770
Name: ndvi, dtype: float64

In [43]:
soma_area_ambiente = base_concat.groupby(['ano','cdambiente'])['area'].sum().loc[2021]
soma_area_ambiente

cdambiente
A    15414.35
B    40565.41
C    74334.15
D    32269.49
E      802.97
Name: area, dtype: float64

In [50]:
valor_total_area = base_concat.groupby(['ano'])["area"].sum().loc[2021]
valor_total_area

163386.37

In [55]:
media_ndvi_por_corte = base_concat.groupby(['ano','corte'])["ndvi"].mean().loc[2021]
media_ndvi_por_corte

corte
0     0.121849
2     0.167913
3     0.170080
4     0.172878
5     0.181167
6     0.181808
7     0.184246
8     0.207476
9     0.192264
12    0.190410
18    0.187169
Name: ndvi, dtype: float64

In [58]:
area_total_corte = base_concat.groupby(['ano','corte'])['area'].sum().loc[2021]
area_total_corte

corte
0        12.53
2     34875.02
3     28568.43
4     28183.32
5     17159.22
6     11517.53
7      4097.24
8      4698.75
9      5461.09
12       49.93
18    28763.31
Name: area, dtype: float64

In [65]:
media_ndvi_corte_cdambiente_2022 = base_concat.groupby(["ano","corte","cdambiente"])["ndvi"].mean().loc[2022]
media_ndvi_corte_cdambiente_2022

corte  cdambiente
2      A             0.138321
       B             0.154833
       C             0.143942
       D             0.135260
       E             0.123577
3      A             0.135565
       B             0.134327
       C             0.129122
       D             0.125962
       E             0.121502
4      A             0.108512
       B             0.126446
       C             0.126111
       D             0.115660
       E             0.131578
5      A             0.134729
       B             0.120868
       C             0.115917
       D             0.125510
       E             0.114427
6      A             0.122524
       B             0.109301
       C             0.110084
       D             0.127052
7      A             0.140206
       B             0.102670
       C             0.121604
       D             0.114518
8      A             0.108273
       B             0.109056
       C             0.114092
       D             0.111946
9      A             0.130917
       B             0.131717
       C             0.147989
       D             0.113150
18     A             0.150033
       B             0.155342
       C             0.154595
       D             0.135111
       E             0.157097
Name: ndvi, dtype: float64

In [85]:
# Sabendo que quanto maior o ndvi, mais cana de aÃ§Ãºcar
# tem no canavial, qual ambiente produziu mais cana por tipo de ambiente para 2021 e 2022?

total_ndvi_ambiente_ano_2022 = base_concat.groupby(["ano","cdambiente"])["ndvi"].sum().loc[2021].max()
total_ndvi_ambiente_ano_2021 = base_concat.groupby(["ano","cdambiente"])["ndvi"].sum().loc[2022].max()

display(f"2021: {total_ndvi_ambiente_ano_2021}")
display(f"2022: {total_ndvi_ambiente_ano_2022}")

'2021: 411.9572281122269'

'2022: 1053.445013795515'

In [78]:
media_ndvi_por_ano_ambiente = base_concat.groupby(['ano', 'cdambiente'])['ndvi'].mean()

# Resetar o Ã­ndice para facilitar a manipulaÃ§Ã£o
media_ndvi_por_ano_ambiente_df = media_ndvi_por_ano_ambiente.reset_index()

ambiente_max_ndvi = media_ndvi_por_ano_ambiente_df.loc[media_ndvi_por_ano_ambiente_df.groupby('ano')['ndvi'].idxmax()]
ambiente_max_ndvi

    ano cdambiente      ndvi
4  2021          E  0.186770
6  2022          B  0.137259

In [86]:
max_ndvi_por_ano_ambiente = base_concat.groupby(['ano', 'cdambiente'])['ndvi'].max()

max_ndvi_reshaped = max_ndvi_por_ano_ambiente.unstack('cdambiente')
max_ndvi_df = pd.DataFrame(max_ndvi_reshaped)
for ano, valores in max_ndvi_df.iterrows():
    print(f"Ano: {ano}")
    valor_maximo = valores.max()
    ambiente_com_max_ndvi = valores.idxmax()
    print(f"Maior NDVI: {valor_maximo}, Ambiente: {ambiente_com_max_ndvi}")

Ano: 2021
Maior NDVI: 0.4750651227223688, Ambiente: C
Ano: 2022
Maior NDVI: 0.3668174303945948, Ambiente: C

In [92]:
maiores_indices_tch = base_concat.groupby(["ano", "corte"])["tch_bloco"].max().loc[2021]
maiores_indices_tch

#agrupa o tch_bloco por ano e corte e filtra por 2021

corte
0       32.93
2      955.54
3     6200.60
4     1424.64
5      445.49
6      249.64
7      122.85
8      267.61
9      250.13
12      41.84
18    1066.74
Name: tch_bloco, dtype: float64

In [96]:
dados_filtrados = base_concat[(base_concat['ano'] == 2021) & (base_concat['talhao'].isin([5, 6]))]

soma_area_por_talhao = dados_filtrados.groupby('talhao')['area'].sum()

area_total = soma_area_por_talhao.sum()

area_total

20394.58

In [104]:
dados_filtrados = base_concat[(base_concat['ano'] == 2021) & (base_concat['talhao'].isin([5, 6]))]

cortes_por_talhao = dados_filtrados.groupby("talhao")['corte']
cortes_por_talhao = cortes_por_talhao.sum()
cortes_por_talhao

talhao
5    6093
6    4773
Name: corte, dtype: int64

In [107]:
dados_filtrados = base_concat[(base_concat['ano'] == 2021) & (base_concat['talhao'].isin([5, 6]))]
ndvi_medio = dados_filtrados.groupby("talhao")['ndvi'].mean()
ndvi_medio

talhao
5    0.179017
6    0.177442
Name: ndvi, dtype: float64