In [40]:
import numpy as np
import pandas as pd

In [41]:
dados_selec = pd.read_csv("manutencao_preditiva.csv")

In [42]:
temperatura_ar = np.array(dados_selec["Temperatura Ar [K]"])
velocidade_rotacao = np.array(dados_selec["Velocidade Rotacao [rpm]"])
torque = np.array(dados_selec["Torque [Nm]"])

array_tridimensional = np.array([temperatura_ar, velocidade_rotacao, torque])
print("Shape do array tridmensional: ", array_tridimensional)

Shape do array tridmensional:  [[ 298.1  298.2  298.1 ...  299.   299.   299. ]
 [1551.  1408.  1498.  ... 1645.  1408.  1500. ]
 [  42.8   46.3   49.4 ...   33.4   48.5   40.2]]

### Exercicios Array Bidimensional

In [43]:
temperatura_processo = dados_selec["Temperatura Processo [K]"]
temperatura_ar = np.array(dados_selec["Temperatura Ar [K]"])
velocidade_rotacao = np.array(dados_selec["Velocidade Rotacao [rpm]"])
torque = np.array(dados_selec["Torque [Nm]"])

1. Selecione dois pequenos dataframes: o primeiro contendo as variáveis 
temperatura do ar e torque, o segundo contendo as variáveis temperatura 
do processo e velocidade de rotação.

In [44]:


df1 = dados_selec[["Temperatura Ar [K]", "Torque [Nm]"]]
df2 = dados_selec[["Temperatura Processo [K]", "Velocidade Rotacao [rpm]"]]

In [45]:
df1

      Temperatura Ar [K]  Torque [Nm]
0                  298.1         42.8
1                  298.2         46.3
2                  298.1         49.4
3                  298.2         39.5
4                  298.2         40.0
...                  ...          ...
9995               298.8         29.5
9996               298.9         31.8
9997               299.0         33.4
9998               299.0         48.5
9999               299.0         40.2

[10000 rows x 2 columns]

In [46]:
df2

      Temperatura Processo [K]  Velocidade Rotacao [rpm]
0                        308.6                      1551
1                        308.7                      1408
2                        308.5                      1498
3                        308.6                      1433
4                        308.7                      1408
...                        ...                       ...
9995                     308.4                      1604
9996                     308.4                      1632
9997                     308.6                      1645
9998                     308.7                      1408
9999                     308.7                      1500

[10000 rows x 2 columns]

2. Crie uma estrutura bidimensional para os dois dataframes, o primeiro
dataframe deve conter as 10 primeiras linhas, o seguno datafame deve conter
as linhas de 15 a 25

In [47]:
primeiro = df1.iloc[:10]
segundo = df2.iloc[15:25]

3. Crie uma estrutura bidimensional para os dois dataframes e mostre a
matriz.

In [48]:
bidimensional = np.c_[primeiro,segundo]
print(bidimensional)

matriz = bidimensional

[[ 298.1   42.8  309.2 1542. ]
 [ 298.2   46.3  309.2 1311. ]
 [ 298.1   49.4  309.2 1410. ]
 [ 298.2   39.5  309.2 1306. ]
 [ 298.2   40.   309.3 1632. ]
 [ 298.1   41.9  309.3 1375. ]
 [ 298.1   42.4  309.3 1450. ]
 [ 298.1   40.2  309.3 1581. ]
 [ 298.3   28.6  309.4 1758. ]
 [ 298.5   28.   309.4 1561. ]]

4. Calcule a soma dos elementos da matriz

In [49]:
print(f'A soma dos elementos da matriz é : {np.sum(matriz)}')

A soma dos elementos da matriz é : 21399.800000000003

5. Encontre o valor mínimo e máximo em cada linha de uma matriz

In [51]:
for linha in matriz:
    print(np.max(linha))

1542.0
1311.0
1410.0
1306.0
1632.0
1375.0
1450.0
1581.0
1758.0
1561.0

In [58]:
# colunaAtual = 0
# somacoluna = 0
# for linha in matriz:
#     for item in linha:
#         somacoluna +=item[colunaAtual]
#         colunaAtual +=1
#     print(somacoluna)

#primeiro jeito
matrizTransposta = np.transpose(matriz)

for linha in matrizTransposta:
    print(np.mean(linha))

#segundo jeito
mean = np.mean(matriz, axis=0)

298.19
39.910000000000004
309.28000000000003
1492.6

7. Transponha a matriz

In [59]:
matrizTransposta = np.transpose(matriz)

## Revisão para Checkpoint 1

#### Busca linear em Python

In [ ]:
def busca_linear(lista, alvo):
    for i in range(len(lista)):
        if lista[i] == alvo:
            return i
    return -1
lista = [3, 6, 7, 10, 4, 12, 9, 5, 8]
alvo = 9
indice = busca_linear(lista, alvo)
if indice != -1:
    print(f'O elemento {alvo} foi encontrado na posição {indice} da lista.')
else:
    print(f'O elemento {alvo} não foi encontrado na lista.')

In [ ]:
# Exemplo de uso:
minha_lista = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
item = 7

if busca_linear(minha_lista, item):
    print(f'O item {item} foi encontrado na lista.')
else:
    print(f'O item {item} não foi encontrado na lista.')

# Neste exemplo, a função busca_linear recebe uma lista (lista) e um item a ser buscado (item). Ela percorre a lista linearmente procurando pelo item desejado. Se o item for encontrado, a função retorna True, caso contrário, retorna False.

#### Busca binária em python

In [1]:
def busca_binaria(lista, item):
    primeiro = 0
    ultimo = len(lista) - 1
    encontrado = False

    while primeiro <= ultimo and not encontrado:
        meio = (primeiro + ultimo) // 2
        if lista[meio] == item:
            encontrado = True
        else:
            if item < lista[meio]:
                ultimo = meio - 1
            else:
                primeiro = meio + 1

    return encontrado

In [ ]:
# Exemplo de uso:
minha_lista = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
item = 7

if busca_binaria(minha_lista, item):
    print(f'O item {item} foi encontrado na lista.')
else:
    print(f'O item {item} não foi encontrado na lista.')

# Neste exemplo, a função busca_binaria recebe uma lista ordenada (lista) e um item a ser buscado (item). Ela utiliza o algoritmo de busca binária para determinar se o item está presente na lista ou não. O algoritmo retorna True se o item for encontrado e False caso contrário.

#### Busca em largura

In [2]:
from collections import deque

def busca_em_largura(grafo, inicio, destino):
    fila = deque()
    fila.append(inicio)
    visitados = set()

    while fila:
        vertice_atual = fila.popleft()
        if vertice_atual == destino:
            return True

        if vertice_atual not in visitados:
            visitados.add(vertice_atual)
            vizinhos = grafo.get(vertice_atual, [])
            fila.extend(vizinhos)

    return False

In [ ]:
# Exemplo de uso:
grafo = {
    'A': ['B', 'C'],
    'B': ['A', 'D', 'E'],
    'C': ['A', 'F'],
    'D': ['B'],
    'E': ['B', 'F'],
    'F': ['C', 'E']
}

inicio = 'A'
destino = 'F'

if busca_em_largura(grafo, inicio, destino):
    print(f'Existe um caminho de {inicio} para {destino}.')
else:
    print(f'Não existe um caminho de {inicio} para {destino}.')

# Neste exemplo, a função busca_em_largura recebe um grafo representado como um dicionário de adjacência (grafo),
# o vértice inicial (inicio) e o vértice de destino (destino). 
#O algoritmo visita os vértices em largura a partir do vértice inicial até encontrar o vértice de destino ou até percorrer todos os vértices acessíveis a partir do vértice inicial.
#Se encontrar o destino, retorna True; caso contrário, retorna False.

#### Busca em profundidade

In [3]:
def busca_em_profundidade(grafo, vertice, destino, visitados=None):
    if visitados is None:
        visitados = set()

    if vertice == destino:
        return True

    visitados.add(vertice)

    for vizinho in grafo.get(vertice, []):
        if vizinho not in visitados:
            if busca_em_profundidade(grafo, vizinho, destino, visitados):
                return True

    return False

In [ ]:
grafo = {
    'A': ['B', 'C'],
    'B': ['A', 'D', 'E'],
    'C': ['A', 'F'],
    'D': ['B'],
    'E': ['B', 'F'],
    'F': ['C', 'E']
}

inicio = 'A'
destino = 'F'

if busca_em_profundidade(grafo, inicio, destino):
    print(f'Existe um caminho de {inicio} para {destino}.')
else:
    print(f'Não existe um caminho de {inicio} para {destino}.')
# Nesta implementação, a função busca_em_profundidade recebe um grafo representado como um dicionário de adjacência (grafo), o vértice inicial (vertice), o vértice de destino (destino) e um conjunto de vértices visitados (visitados). A função recursivamente explora os vértices do grafo em profundidade, marcando os vértices visitados e verificando se o vértice de destino é alcançável a partir do vértice inicial. Se encontrar o destino, retorna True; caso contrário, retorna False.