In [1]:
import numpy as np
import pandas as pd

In [2]:
dados_selec = pd.read_csv("manutencao_preditiva.csv")

In [3]:
temperatura_ar = np.array(dados_selec["Temperatura Ar [K]"])
velocidade_rotacao = np.array(dados_selec["Velocidade Rotacao [rpm]"])
torque = np.array(dados_selec["Torque [Nm]"])

array_tridimensional = np.array([temperatura_ar, velocidade_rotacao, torque])
print("Shape do array tridmensional: ", array_tridimensional)

Shape do array tridmensional:  [[ 298.1  298.2  298.1 ...  299.   299.   299. ]
 [1551.  1408.  1498.  ... 1645.  1408.  1500. ]
 [  42.8   46.3   49.4 ...   33.4   48.5   40.2]]

### Exercicios Array Bidimensional

In [4]:
temperatura_processo = dados_selec["Temperatura Processo [K]"]
temperatura_ar = np.array(dados_selec["Temperatura Ar [K]"])
velocidade_rotacao = np.array(dados_selec["Velocidade Rotacao [rpm]"])
torque = np.array(dados_selec["Torque [Nm]"])

In [5]:
# df1 = np.array([temperatura_ar, torque])
# df2 = np.array([temperatura_processo, velocidade_rotacao])

df1 = pd.DataFrame([[temperatura_ar, torque]])
df2 = pd.DataFrame([[temperatura_processo, velocidade_rotacao]])

In [6]:
df1

,0,1
0,"[298.1, 298.2, 298.1, 298.2, 298.2, 298.1, 298...","[42.8, 46.3, 49.4, 39.5, 40.0, 41.9, 42.4, 40...."

In [7]:
df2

,0,1
0,0 308.6 1 308.7 2 308.5 3 ...,"[1551, 1408, 1498, 1433, 1408, 1425, 1558, 152..."

In [8]:
primeiro = df1[: ,:10]
segundo = df2[:15, :10]

bidimensional = np.concatenate([primeiro, segundo])

KeyError: (slice(None, None, None), slice(None, 10, None))

In [ ]:
print(bidimensional)

[[ 298.1  298.2  298.1  298.2  298.2  298.1  298.1  298.1  298.3  298.5]
 [  42.8   46.3   49.4   39.5   40.    41.9   42.4   40.2   28.6   28. ]
 [ 308.6  308.7  308.5  308.6  308.7  308.6  308.6  308.6  308.7  309. ]
 [1551.  1408.  1498.  1433.  1408.  1425.  1558.  1527.  1667.  1741. ]]