In [1]:
import pandas as pd

### 1 - Selecione as colunas AlbumId, Title e ArtistIs da tabela Album e exporte o arquivo em csv

### 2 - Junte os dados da tabela chamada album com a tabela chamada Track em SQL

In [ ]:
# SELECT a.AlbumId, a.ArtistId, t.*
# FROM Album a
# JOIN Track t ON a.AlbumId = t.AlbumId;

In [2]:
pd.read_csv("Album_202408280827.csv")

     AlbumId  ArtistId
0          1         1
1          4         1
2          2         2
3          3         2
4          5         3
..       ...       ...
342      342       271
343      344       272
344      345       273
345      346       274
346      347       275

[347 rows x 2 columns]